# OSX Finder's settings.
.DS_Store

# Node.js modules.
/node_modules

# NPM's shrinkwrap.
# We're using `package-lock.json` instead.
npm-shrinkwrap.json

# Yarn's lockfile, Plug'n'Play, folder and settings.
# We're using NPM and it provide its own lockfile and settings.
yarn.lock
.pnp.*
.yarn/
.yarnrc
.yarnrc.yaml

# Log files.
*.log
*.log.*

# Generated distribution bundles and their source-maps.
/dist

# Generated type declarations.
/types

# Transpiled modules and their source-maps.
/src/**/*.js
/src/**/*.js.map
