# OSX Finder's settings.
.DS_Store

# Node.js modules.
/node_modules

# NPM's lockfiles.
# We're using PNPM and it provides its own lockfile.
package-lock.json
npm-shrinkwrap.json‎

# Yarn's lockfile
# We're using PNPM and it provides its own lockfile.
yarn.lock

# Log files.
*.log
*.log.*

# Environment variables.
.env
.env.*
!.env.default

# Generated distribution bundles and their source-maps.
/dist

# Generated type declarations.
/types

# Transpiled modules and their source-maps.
/src/**/*.js
/src/**/*.js.map
